/* .prose {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    margin-top: 0 !important;
} */

.ProseMirror-focused:focus-visible {
    outline: none;
    /* Removes the default focus outline */
    border: none;
    /* Removes the border if there is any */
}

.prose :where(p):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}

.ProseMirror{
    max-height: 50rem !important;
    height: 20rem !important;
    max-width: 40rem !important;
}